<!DOCTYPE html>
<html>
<head>
  <title>Inbox</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100 p-10">

<h2 class="text-3xl font-bold mb-8 text-teal-600">
  Teacher Inbox
</h2>

<div class="space-y-5">

{% for msg in messages %}

<div class="bg-white p-5 rounded-xl shadow">

    <p class="font-bold text-lg">
      {{ msg.sender.username }}
    </p>

    <p class="text-slate-700 mt-2">
      {{ msg.message }}
    </p>

    <p class="text-sm text-slate-400 mt-3">
      {{ msg.timestamp }}
    </p>

    <a href="{% url 'skills:chat' msg.sender.id %}">
      <button
        class="mt-4 bg-teal-600 text-white px-4 py-2 rounded-lg"
      >
        Reply
      </button>
    </a>

</div>

{% empty %}

<p>No messages yet.</p>

{% endfor %}

</div>

</body>
</html>