<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Learner Profile | SkillSwap</title>

<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

</head>

<body class="bg-slate-100 text-slate-800">

<!-- NAVBAR -->

<nav class="bg-white shadow">
<div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">

<h1 class="text-2xl font-bold text-teal-600">SkillSwap</h1>

<div class="flex gap-6 items-center">
<a href="{% url 'skills:explore' %}" class="hover:text-teal-600"></a>
<a href="#">My Learning</a>
<a href="#">Messages</a>
</div>

</div>
</nav>


<!-- PROFILE FORM -->

<section class="max-w-3xl mx-auto mt-12">

<div class="bg-white p-8 rounded-xl shadow">

<h2 class="text-3xl font-bold mb-6 text-center">
Create Learner Profile
</h2>

<form method="POST" class="space-y-5">

{% csrf_token %}

<div>
<label class="font-semibold">Full Name</label>
<input type="text" id="name" name="Enter your name"
class="w-full border p-3 rounded-lg mt-1">
</div>

<div>
<label class="font-semibold">Email</label>
<input type="email" id="email" name="email"
class="w-full border p-3 rounded-lg mt-1">
</div>

<div>
<label class="font-semibold">Bio</label>
<textarea id="bio" name="bio"
class="w-full border p-3 rounded-lg mt-1"></textarea>
</div>

<div>
<label class="font-semibold">Skill You Can Teach</label>
<input type="text" id="teach" name="teach"
class="w-full border p-3 rounded-lg mt-1">
</div>

<div>
<label class="font-semibold">Skill You Want to Learn</label>
<input type="text" id="learn" name="learn"
class="w-full border p-3 rounded-lg mt-1">
</div>


<!-- INTERESTS -->

<div>
<label class="font-semibold block mb-2">Select Your Interests</label>

<div class="grid grid-cols-2 gap-3">

<label class="flex items-center gap-2">
<input type="checkbox" name="interests" value="Coding">Coding
</label>

<label class="flex items-center gap-2">
<input type="checkbox" name="interests" value="Design">Design
</label>

<label class="flex items-center gap-2">
<input type="checkbox" name="interests" value="Cooking">Cooking
</label>

<label class="flex items-center gap-2">
<input type="checkbox" name="interests" value="Yoga">Yoga
</label>

<label class="flex items-center gap-2">
<input type="checkbox" name="interests" value="Photography">Photography
</label>

<label class="flex items-center gap-2">
<input type="checkbox"name="interests"  value="Music">Music
</label>

</div>

</div>



<button type="submit"
class="bg-teal-600 text-white px-6 py-2 rounded-lg">
Save Profile
</button>

</form>

</div>

</section>



<script>
 

</script>

</body>
</html>
