<!DOCTYPE html>
<html>
<head>
<title>Products</title>
<style>
.container{
display:flex;
gap:20px;
flex-wrap:wrap;
}
.card{
width:250px;
border:1px solid #ddd;
padding:15px;
border-radius:10px;
}
.card img{
width:100%;
height:200px;
object-fit:cover;
}
</style>
</head>
<body>
<h1>Product List</h1>
<div class="container">
{% for product in products %}
<div class="card">
<img src="{{ product.image.url }}" alt="">
<h2>{{ product.name }}</h2>
<p>{{ product.description }}</p>
<h3>n {{ product.price }}</h3>
</div>
{% endfor %}
</div>
</body>
</html>